{% load static filters %}

<div class="table-responsive">
   <table class="table">
      <thead>
         <tr>
            <th class="d-none d-lg-block">Imagem</th>
            <th>Produto</th>
            <th>V.</th>
            <th>QTD.</th>
            <th>Total</th>
         </tr>
      </thead>

      <tbody>
         {% for item in cart.values %}
            <tr>
               <td class="d-none d-lg-block">
                  <img class="cart-img" src="{{ item.image }}" />
               </td>
               <td>
                  <a href="{% url 'product:details' item.slug %}">
                     {{ item.product_name }}
                  </a>
                  <a
                     class="ml-3"
                     href="{% url 'product:removefromcart' %}?vid={{ item.variation_id }}"
                  >
                     <i class="fas fa-times-circle text-danger" aria-hidden="true"
                        >Remover</i
                     >
                  </a>
               </td>
               <td>{{ item.variation_name }}</td>
               <td>
                  {{ item.quantity }}x 
                  {% if item.promotional_unit_price %} 
                  {{ item.promotional_unit_price }} 
                  {% else %} 
                  {{ item.unit_price }} 
                  {%endif %}
               </td>
               {% if item.promotional_quantitative_price %}
                  <td>{{ item.promotional_quantitative_price|format_price }}</td>
               {% else %}
                  <td>{{ item.quantitative_price|format_price }}</td>
               {% endif %}
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
